.header {
	padding: 75px 0 95px;
}

.header__wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	max-width: 1175px;
}

.nav__item {
	width: 377px;
	height: 113px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 22px;

	border: 1px solid $main;
	cursor: pointer;
}

.nav__link {
	font-size: 26px;
	letter-spacing: 4.8px;
	text-decoration: none;
	color: $main;
}

@media (min-width: 1200px) {
	.nav__item:nth-child(-n + 3) {
		background-color: $main;
		margin-bottom: 12px;
	}

	.nav__item:nth-child(3n) {
		margin-right: 0;
	}

	.nav__item:nth-child(-n + 3) .nav__link {
		color: white;
	}
}

@media (max-width: 1199px) {
	.nav__item:nth-child(odd) {
		background-color: $main;
		margin-bottom: 12px;
	}

	.nav__item:nth-child(2n) {
		margin-right: 0;
	}

	.nav__item:nth-child(odd) .nav__link {
		color: white;
	}
}

@media (max-width: 767px) {
	.header {
		padding: 60px 0 133px;
	}
	.nav {
		justify-content: center;
	}

	.nav__item {
		margin: 0;
		margin-bottom: 12px;
	}
}

@media (max-width: 822px) {
	.nav {
		align-items: center;
		justify-content: center;
	}

	.nav__item {
		margin: 0;
		margin-bottom: 12px;
	}
}
