<div class="mobile-banner">
	<img src="./img/banner-mobile-bg.jpg" alt="img" />
</div>
<section class="banner">
	<div class="container">
		<div class="banner__wrap">
			<div class="banner__header">
				<h2 class="suptitle">Салон красоты</h2>
				<h1 class="title">“Амелия”</h1>
				<div class="subtitle">Ваша красота - наше призвание!</div>
			</div>

			<div class="info">
				<p class="info__schedule">Пн-Вс: 10:00—22:00</p>
				<p class="info__tel">Тел: <span>+7(900) 900 80 80</span></p>
				<span class="info__street">г. Кимры, ул. </span>
			</div>
		</div>
	</div>
</section>
