<footer class="footer">
	<div class="footer__wrap">
		<div class="footer__col footer__col-1">
			<div class="col-1__top">
				<p>инн *******</p>
				<p>октмо ******</p>
				<p>******</p>
			</div>

			<div class="social">
				<div class="social__item">
					<a href="" class="social__link"><i class="fab fa-vk"></i></a>
				</div>
				<div class="social__item">
					<a href="" class="social__link"><i class="fab fa-facebook-f"></i></a>
				</div>
				<div class="social__item">
					<a href="" class="social__link"><i class="fab fa-twitter"></i></a>
				</div>
			</div>
		</div>

		<div class="footer__col footer__col-2">
			<div class="footer__header">
				<h1 class="title title--footer">
					Салон красоты <span>“Амелия”</span>
				</h1>
				<div class="subtitle subtitle--footer">Запись по телефону</div>
			</div>

			<div class="info info--footer">
				<p class="info__tel info__tel--footer">Тел: <span>+7(900) 900 80 80</span></p>
				<span class="info__street info__street--footer">г. Кимры, ул. </span>
			</div>
		</div>

		<div class="footer__col footer__col-3">
			<div class="col-3__content">
				<div
	
					style="position: relative; overflow: hidden; right: 0"
				>
					<a
						href="https://yandex.ru/maps/10811/kimry/?utm_medium=mapframe&utm_source=maps"
						style="
							color: #eee;
							font-size: 12px;
							position: absolute;
							top: 0px;
						"
						>Кимры</a
					><a
						href="https://yandex.ru/maps/geo/kimry/53056831/?ll=37.356564%2C56.872833&utm_medium=mapframe&utm_source=maps&z=16.46"
						style="
							color: #eee;
							font-size: 12px;
							position: absolute;
							top: 14px;
						"
						>Кимры — Яндекс.Карты</a
					><iframe class="map"
						src="https://yandex.ru/map-widget/v1/-/CCUAqDqxdB"
                        width="468"
                        width="100%"
						height=316"
						frameborder="0"
						allowfullscreen="false"
						style="position: relative; border: 1px solid #6f0b80"
					></iframe>
				</div>
			</div>
		</div>
	</div>
</footer>
