<header class="header">
	<div class="container">
		<div class="header__wrap">
			<nav class="nav">
				<div class="nav__item">
					<a href="#" class="nav__link"> Парикмахер </a>
				</div>
				<div class="nav__item">
					<a href="#" class="nav__link"> Мастер по маникюру </a>
				</div>
				<div class="nav__item">
					<a href="#" class="nav__link"> Косметолог </a>
				</div>
				<div class="nav__item">
					<a href="#" class="nav__link"> Визажист </a>
				</div>
				<div class="nav__item">
					<a href="#" class="nav__link"> Эпиляция </a>
				</div>
				<div class="nav__item">
					<a href="#" class="nav__link"> Массажист </a>
				</div>
			</nav>
		</div>
	</div>
</header>
