<div class="prices-mobile">
	<div class="container">
		<div class="prices-mobile__wrap">
			<!-- Slider main container -->
			<div class="swiper-container">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide">
						<div class="card">
							<div class="card__img">
								<img src="./img/slider/1.jpg" alt="" />
							</div>

							<div class="card__list">
								<p>Маникюр/педикюр________________1000Р</p>
								<p>Наращивание ногтей ______________1000Р</p>
								<p>СПА уход за руками и ногами________100Р</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<div class="card__img">
								<img src="./img/slider/2.jpg" alt="" />
							</div>

							<div class="card__list">
								<p>Наращивание ресниц______________-1000Р</p>
								<p>Перманентный макияж_____________1000Р</p>
								<p>Боди-пирсинг______________________800Р</p>
								<p>Татуировки(временные/постоянные) _800Р</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<div class="card__img">
								<img src="./img/slider/3.jpg" alt="" />
							</div>

							<div class="card__list">
								<p>Чистка лица_______________________1000Р</p>
								<p>Пилинг___________________________1000Р</p>
								<p>Коррекция/окраска бровей и ресниц_1000Р</p>
								<p>Депиляция________________________1000Р</p>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="card">
							<div class="card__img">
								<img src="./img/slider/4.jpg" alt="" />
							</div>

							<div class="card__list">
								<p>Пилинг___________________________1000Р</p>
								<p>Обертывание______________________1000Р</p>
								<p>Антицеллюлитные программы______1000Р</p>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="card">
							<div class="card__img">
								<img src="./img/slider/5.jpg" alt="" />
							</div>

							<div class="card__list">
								<p>Элюминирование__________________1000Р</p>
								<p>Лечение волос_____________________1000Р</p>
								<p>Стрижка _________________________1000Р</p>
								<p>Праздничная прическа/ укладка_____1000Р</p>
								<p>Наращивание волос________________1000Р</p>
								<p>Химическая завивка________________1000Р</p>
								<p>Выпрямление волос________________1000Р</p>
							</div>
						</div>
					</div>

					<div class="swiper-slide">
						<div class="card">
							<div class="card__img">
								<img src="./img/slider/6.jpg" alt="" />
							</div>

							<div class="card__list">
								<p>Элюминирование__________________1000Р</p>
								<p>Лечение волос_____________________1000Р</p>
								<p>Стрижка _________________________1000Р</p>
								<p>Праздничная прическа/ укладка_____1000Р</p>
								<p>Наращивание волос________________1000Р</p>
								<p>Химическая завивка________________1000Р</p>
								<p>Выпрямление волос________________1000Р</p>
							</div>
						</div>
					</div>
				</div>
				<!-- If we need pagination -->
				<div class="swiper-pagination"></div>

			</div>
		</div>
	</div>
</div>
