<div class="container">
	<div class="section-header">
		<h1 class="section-header__title">
			Наши профессионалы готовы cоздать ваш идеальный образ
		</h1>
	</div>
</div>

<div class="prices">
	<div class="container">
		<div class="prices__wrap">
			<div class="prices__content-main">
				<div class="content-block content-block--big">
					<div class="item item--first">
						<div class="item-text">
							<p>
								Стилистика лица и тела – наша гордость!
								Наращивание ресниц, перманентный макияж,
								боди-пирсинг, татуировки и временные татуировки–
								все это выполняется известными мастерами своего
								дела, призерами многих конкурсов и, несомненно,
								профессионалами с многолетним опытом работы!
							</p>
						</div>
						<span class="item-price">от 1000 ₽</span>
					</div>

					<div class="item item--second">
						<div class="item-text">
							<p>
								Мастера маникюра и педикюра предлагают
								наращивание ногтей любой сложности, СПА уходы за
								руками и ногами, маникюр, педикюр, современный
								дизайн.
							</p>
						</div>
						<span class="item-price">от 1000 ₽</span>
					</div>

					<div class="item price__item--thrid">
						<div class="item-text">
							<p>
								Косметология представлена всеми видами уходов,
								чисток, пилингов. Коррекция, окраска бровей и
								ресниц, депиляция – это лишь немногий перечень
								услуг косметологов
							</p>
						</div>
						<span class="item-price">от 1000 ₽</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="hair">
	<div class="container">
		<div class="content-block content-block--default">
			<div class="item item--default">
				<div class="item-text">
					<p>
						Мастера парикмахерского зала предлагают следующие
						услуги: элюминирование и лечение волос, стрижки любой
						сложности, праздничные прически и укладки, наращивание
						волос, легкие и химические завивки, выпрямление волос и
						многое другое.
					</p>
				</div>
				<span class="item-price">от 1000 ₽</span>
			</div>

			<div class="item item--default">
				<div class="item-text">
					<p>
						Наш салон красоты поможет Вам сохранить красоту и
						здоровье волос благодаря горячей био-стрижке.
						Элюминирование волос
					</p>
				</div>
				<span class="item-price">от 1000 ₽</span>
			</div>
		</div>
	</div>
</div>

<div class="massage">
	<div class="container">
		<div class="content-block content-block--right">
			<div class="item content-block--right">
				<div class="item-text">
					<p>
						Массаж в салоне красоты — это избавление от стрессов и
						напряжения, возможность улучшить состояние здоровья и
						внешний вид. Пилинги, обертывания, антицеллюлитные
						программы разрабатываются индивидуально для каждого
						гостя.
					</p>
				</div>
				<span class="item-price">от 1000 ₽</span>
			</div>
		</div>
	</div>
</div>
