<section class="tagline">
	<div class="container">
		<div class="tagline__wrap">
			<div class="tagline__text">
				<p>
					Наш салон красоты предлагает Вам полный перечень
					косметологических и парикмахерских услуг высочайшего класса.
					Дипломированные косметологи, парикмахеры, мастера маникюра и
					педикюра помогут Вам создать совершенный образ и подчеркнуть
					естественное очарование.
				</p>
				<p>
					День за днем салон красоты воплощает в жизнь самые заветные
					мечты клиентов! Опытные мастера наших салонов творчески
					подходят к своему делу.
				</p>
				<p>
					Мы с радостью поможем Вам кардинально изменить привычный
					образ, учтем все пожелания, при необходимости дадим советы и
					рекомендации. Если Вам не жаль времени и сил, можете
					посетить все салоны красоты, но будьте уверенны — такого
					соотношения умеренных цен и высочайшего качества, нет нигде.
					Сотни людей уже убедились в этом, пополнив ряды наших
					постоянных клиентов.
				</p>
			</div>

			<div class="tagline__content">
				<div class="tagline__content-title">
					Наша главная цель – доставить удовольствие нашим гостям.
				</div>
				<div class="tagline__content-gallery">
					<img src="./img/gallery-1.png" alt="" />
					<img src="./img/gallery-2.png" alt="" />
					<img src="./img/gallery-3.png" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>
